.secao{
    width: 35%;
    display: block;
    color: #202020;
    margin-top: 15%;
}
.secao-arvore{
    display: flex;
    justify-content: center;
}
.arvore{
    z-index: 2;
    width: 40%;
}
.secao-casa{
    font-size: 22px;
}
.secao-planta{
    font-size: 82px;
    font-family: 'Elsie Swash Caps', cursive;
}
.secao-paragrafo{
    font-size: 16px;
}
.secao-flex{
    display: flex;
    width: 140%;
}
.secao-input{
    width: 41%;
    padding: 20px;
    border-color: rgba(219, 219, 219, 0.753);
    font-size: 16px;
}
.secao-button{
    background-color: #FFCB47;
    box-shadow: 10px 10px 30px rgba(255, 203, 71, 0.3);
    color: white;
    padding: 15px 20px;
    border-color: #FFCB47;
    font-size: 16px;
}