.box{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 5%;
}
.planta{
    width: 30%;
}
.box-escrita{
    width: 23%;
}
.box-title{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    color: #202020;

}
.box-title-strong{
    font-family: Elsie Swash Caps;
    font-size: 42px;
    font-weight: 900;
    color: #202020;

}
.box-lista{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.bolinha{
    width: 15%; 
    margin: 2%;
}
.lista{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    color: #202020;
    align-self: center;
}