.ofertas-title{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #202020;

}

.card-imagem{
    width: 200px;
}
.ofertas{
    font-family: Elsie Swash Caps;
    font-size: 82px;
    font-weight: 900;
    text-align: center;
    color: #202020;
}
.ofertas-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:3%;
}
.ofertas-main{
    margin: 5% 0;
}
.estilo-oferta-titulo{
    font-size: 32px;
}
.estilo-oferta-preco{
    font-size: 16px;
}