.modal-carrinho{
    width: 20%;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    display: block;
    left: 78%;
    top: 12%;
    background-color: #ffffff;
    border: 5px solid #FFCB47;
    border-radius: 16px;
    z-index: 3;
}
.cart{
    width: 130px;
}
.cart-title{
    font-size: 22px;
}
.cart-price{
    font-size: 15px;
}
.modal-carrinho::-webkit-scrollbar {
    width: 3px;
}

.modal-carrinho::-webkit-scrollbar-track {
    background: transparent
}

.modal-carrinho::-webkit-scrollbar-thumb {
    background-color: transparent;   
    border-radius: 20px;       
    border: 5px solid transparent;
}
.closeModal{
    position: absolute;
    top: 2%;
    left: 90%;
    z-index: 3;
}
.limpar{
    border: 1px solid #FFCB47;
    background-color: #FFCB47;
    color: #ffffff;
    border-radius: 8px;
    padding: 2%;
    font-size: 16px;
    margin: 2% 0 0 53%;
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaoContador{
    border: none;
    color: #FFCB47;
    font-size: 30px;
    background: none;
}